<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Page Icon -->
    <link rel="icon" href="/images/ani-icon.ico" type="image/x-icon">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- Signika font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <script rel="stylesheet" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Main CSS file-->
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- JQuery 3.7.1 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Website Title -->
    <title>AniTrack</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <script>
        // Check for a stored theme in localStorage and apply it before page load
        const storedTheme = localStorage.getItem("theme");
        if (storedTheme === "light") {
            document.querySelector("html").setAttribute("data-bs-theme", storedTheme);
        }
    </script>
    <link rel="stylesheet" href="/styles/components/header.css" />
    <header class="border-bottom mb-3">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid" bis_skin_checked="1">
                <!-- Main Icon -->
                <a href="/">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="5rem" viewBox="0 0 400.000000 400.000000" preserveAspectRatio="xMidYMid meet">
                        <g class="custom-svg" transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none">
                            <path d="M1812 3408 c-714 -89 -1241 -727 -1209 -1463 7 -149 25 -252 66 -381 96 -296 284 -547 539 -722 538 -368 1220 -325 1719 107 235 204 392 478 455 793 28 145 30 375 4 518 -34 186 -115 390 -218 545 -68 103 -261 297 -362 365 -87 58 -270 149 -355 176 l-54 17 23 19 c27 22 12 23 -36 3 -60 -25 -216 -157 -202 -171 3 -3 47 -13 97 -21 85 -16 112 -32 53 -34 -38 0 -200 -56 -182 -62 8 -3 71 -8 140 -11 69 -4 182 -9 253 -13 70 -3 127 -10 127 -14 0 -5 -36 -39 -80 -76 -44 -37 -76 -70 -72 -74 4 -3 45 -16 92 -29 80 -21 140 -51 140 -70 0 -4 -15 -13 -32 -20 l-33 -12 45 -19 c25 -11 80 -43 124 -72 l79 -51 -39 -17 c-22 -10 -45 -18 -51 -18 -7 -1 -13 -6 -13 -11 0 -16 44 -99 84 -159 l36 -54 -40 6 c-50 6 -45 -3 23 -41 28 -16 69 -40 90 -52 l39 -23 -60 119 c-33 65 -72 135 -86 154 -31 41 -33 39 87 70 48 13 87 26 87 30 0 4 -58 38 -130 76 -71 38 -130 72 -130 76 0 4 23 8 50 10 l50 3 -129 73 c-78 44 -134 70 -144 66 -9 -3 -26 1 -38 10 -22 15 -20 17 81 65 79 38 108 47 122 40 32 -17 192 -182 245 -254 114 -152 204 -370 238 -573 23 -139 16 -399 -14 -518 -62 -249 -171 -450 -338 -625 -107 -112 -171 -159 -217 -159 -51 0 -87 -21 -133 -76 -23 -29 -58 -56 -88 -70 -49 -23 -69 -24 -47 -2 30 30 0 37 -51 12 -18 -9 -50 -31 -73 -49 -39 -32 -114 -57 -114 -38 0 16 63 70 109 93 24 12 87 38 140 57 124 45 212 87 236 113 18 20 18 22 -27 108 -28 52 -58 95 -76 108 -28 19 -175 56 -279 71 -34 5 -43 3 -43 -9 0 -10 17 -20 48 -28 66 -16 193 -68 214 -87 10 -9 18 -22 18 -29 0 -25 -170 -201 -238 -247 -37 -26 -99 -76 -139 -112 l-71 -65 -125 0 c-167 0 -340 31 -479 87 -32 13 -35 17 -26 33 9 14 5 36 -17 104 l-28 87 21 44 c40 83 107 140 185 159 15 3 27 13 27 21 0 17 -4 17 -140 -22 -110 -31 -132 -52 -138 -132 -3 -47 -10 -65 -29 -83 -20 -19 -23 -19 -17 -4 6 16 3 17 -27 11 -19 -3 -55 -13 -81 -21 l-48 -16 -46 38 c-179 147 -334 380 -407 611 -60 190 -77 447 -43 643 75 425 353 793 737 974 94 45 235 91 313 102 l41 6 -61 -63 c-33 -35 -86 -95 -118 -132 -62 -72 -176 -159 -176 -133 0 7 7 51 16 96 8 45 13 84 11 87 -3 2 -36 -31 -73 -73 -88 -98 -122 -133 -163 -164 -24 -18 -31 -30 -26 -43 5 -12 14 -16 27 -11 14 4 19 2 16 -7 -2 -7 -19 -17 -38 -22 -18 -4 -74 -33 -124 -64 -50 -31 -118 -72 -151 -92 l-60 -36 55 -5 55 -6 -55 -27 -55 -27 129 6 c110 4 134 8 159 26 34 24 27 32 -40 43 -24 4 -43 10 -43 15 0 4 44 33 98 63 124 71 206 135 193 151 -11 13 -12 12 83 66 60 34 62 31 19 -27 -22 -30 -20 -46 3 -23 5 5 52 31 104 58 92 48 96 52 131 117 20 37 49 105 65 150 l28 83 111 7 c60 4 124 5 140 3 29 -3 29 -4 -21 -26 -48 -22 -184 -145 -173 -156 3 -3 47 26 98 63 96 72 165 106 289 141 41 12 72 23 69 26 -2 3 -53 11 -113 19 -120 16 -280 17 -392 3z m620 -144 c92 -32 303 -132 295 -140 -2 -2 -27 -1 -57 3 -46 5 -51 8 -36 19 16 11 15 14 -11 27 -53 28 -148 63 -230 86 -46 13 -80 28 -77 32 7 12 -2 14 116 -27z m-1082 -2364 c0 -29 -4 -40 -15 -40 -18 0 -18 7 -4 49 15 41 19 39 19 -9z" />
                            <path d="M1799 2615 c29 -43 134 -154 122 -129 -5 11 -40 52 -76 90 -37 38 -58 56 -46 39z" />
                            <path d="M1089 2533 l-36 -4 -31 -127 c-34 -138 -47 -212 -39 -212 9 0 90 141 83 147 -3 3 -16 -2 -27 -13 -22 -19 -22 -19 -14 6 4 14 31 65 61 114 56 92 59 97 47 94 -5 -1 -24 -3 -44 -5z" />
                            <path d="M2340 2496 c19 -21 49 -47 65 -59 29 -20 29 -19 -5 17 -19 21 -48 47 -65 59 -29 20 -29 19 5 -17z" />
                            <path d="M2635 2398 c22 -27 41 -48 43 -48 7 0 -36 56 -59 75 -12 11 -5 -1 16 -27z" />
                            <path d="M2025 2289 c10 -13 35 -41 54 -61 40 -43 36 -46 -19 -18 -22 11 -40 16 -40 10 0 -17 100 -210 109 -210 7 0 166 92 177 103 13 13 -218 174 -276 192 l-25 8 20 -24z" />
                            <path d="M1445 2220 c4 -36 8 -65 9 -66 0 -1 16 -4 34 -7 l33 -7 -37 68 c-21 37 -39 69 -42 72 -2 3 -1 -24 3 -60z" />
                            <path d="M1061 2238 c-6 -17 -10 -33 -8 -34 1 -2 18 7 37 19 26 17 30 23 17 25 -9 2 -17 8 -17 13 0 21 -19 7 -29 -23z" />
                            <path d="M1575 2243 c3 -16 9 -53 13 -83 l7 -55 119 -63 c66 -34 124 -61 128 -60 5 2 -29 37 -75 78 -46 41 -106 105 -133 142 -27 37 -52 67 -56 67 -4 1 -5 -11 -3 -26z" />
                            <path d="M2391 2178 c-1 -16 4 -28 9 -28 12 0 12 8 0 35 -8 18 -9 17 -9 -7z" />
                            <path d="M2820 2180 l-35 -7 28 -11 c33 -14 117 -16 117 -3 0 8 -56 33 -69 30 -3 -1 -22 -5 -41 -9z" />
                            <path d="M1050 2120 c-25 -25 -61 -57 -80 -72 l-35 -27 80 1 c44 0 72 2 63 5 -20 5 -16 47 9 96 23 46 11 45 -37 -3z" />
                            <path d="M2496 2078 c-18 -120 -18 -120 11 -150 l28 -29 -30 -55 c-37 -69 -48 -77 -42 -30 5 39 5 40 -35 50 -25 6 -28 3 -38 -35 -14 -50 -59 -99 -92 -99 -36 0 -66 27 -79 70 -10 33 -17 40 -37 40 -19 0 -23 4 -19 20 4 15 -6 28 -36 52 -23 18 -78 63 -122 102 -47 41 -81 64 -83 56 -2 -6 14 -49 36 -93 22 -45 39 -83 38 -85 -2 -1 -31 16 -66 39 -51 35 -65 40 -79 31 -9 -7 -26 -17 -38 -24 -19 -9 -22 -17 -18 -54 3 -39 1 -45 -20 -50 -13 -3 -26 -16 -29 -28 -19 -74 -94 -102 -136 -49 -12 15 -26 47 -33 71 -11 41 -13 43 -47 40 -35 -3 -35 -4 -34 -47 l1 -45 -21 27 c-12 14 -32 48 -45 74 -51 101 -93 174 -98 170 -2 -3 8 -50 22 -105 27 -109 31 -137 15 -112 -18 28 -11 -12 15 -90 14 -40 25 -77 25 -81 0 -14 -74 10 -94 32 -21 22 -21 22 11 -1 20 -14 38 -20 49 -16 16 6 14 10 -14 32 -18 14 -32 31 -32 37 0 7 5 4 11 -5 5 -10 14 -18 20 -18 5 0 -7 31 -26 70 -23 47 -39 68 -49 64 -10 -4 -12 2 -9 20 4 19 1 26 -11 26 -19 0 -22 -40 -4 -58 6 -6 9 -15 5 -19 -11 -10 -17 1 -24 41 -5 32 -3 38 16 43 11 3 21 7 21 9 0 15 -31 74 -38 74 -45 0 -51 -152 -10 -242 14 -31 49 -79 76 -108 46 -47 54 -52 86 -48 33 4 37 2 47 -32 20 -60 48 -108 84 -144 76 -77 398 -266 452 -266 28 0 240 108 350 179 103 66 137 103 173 187 26 62 32 69 57 69 104 0 223 220 184 338 -19 56 -37 65 -57 26 -15 -31 -15 -33 2 -46 17 -12 17 -13 0 -13 -12 0 -16 -5 -12 -16 3 -9 6 -22 6 -30 0 -25 19 -15 23 14 4 27 4 27 5 -3 0 -16 -3 -39 -8 -50 -9 -19 -9 -19 -16 3 -3 12 -10 22 -15 22 -5 0 -9 10 -10 23 0 14 -12 -1 -34 -48 -40 -82 -43 -95 -14 -69 22 19 22 19 9 -5 -6 -13 -21 -26 -31 -28 -24 -7 -25 -33 -1 -33 22 0 46 18 60 45 6 11 12 15 12 9 0 -23 -36 -55 -72 -63 -21 -5 -38 -7 -38 -6 0 2 6 34 14 72 8 37 17 104 21 148 3 44 8 91 11 105 4 23 3 23 -9 8 -18 -23 -27 -23 -27 0 0 10 -7 42 -15 70 -18 60 -42 69 -49 20z m-96 -399 c-35 -10 -141 -9 -165 1 -12 5 4 6 40 3 33 -3 76 -1 95 4 19 6 39 8 45 4 5 -3 -1 -8 -15 -12z m-678 -1 c-23 -9 -132 -8 -156 1 -10 4 25 7 77 7 53 -1 88 -4 79 -8z m278 -50 c0 -24 -16 -56 -23 -48 -3 3 -8 20 -12 38 -6 28 -4 32 14 32 15 0 21 -6 21 -22z" />
                            <path d="M2830 2068 c0 -27 -2 -48 -4 -48 -2 0 -22 7 -45 15 -61 21 -50 -1 14 -30 31 -13 70 -34 87 -46 l30 -22 -7 24 c-4 13 -23 53 -41 89 l-33 65 -1 -47z" />
                            <path d="M2396 2077 c-12 -9 -16 -20 -12 -33 9 -22 74 -79 82 -71 10 10 -26 117 -39 117 -7 0 -21 -6 -31 -13z" />
                            <path d="M1456 2065 c-8 -21 -8 -115 0 -115 4 0 22 14 41 30 41 36 55 37 174 5 52 -13 105 -27 119 -30 l25 -6 -25 15 c-30 19 -177 77 -187 75 -5 -1 -25 6 -46 15 -61 27 -93 31 -101 11z" />
                            <path d="M2244 2021 c-73 -34 -111 -61 -86 -61 5 0 40 11 78 23 38 13 86 27 107 31 39 7 45 14 25 34 -18 18 -36 14 -124 -27z" />
                            <path d="M1128 1937 c-30 -46 -23 -55 29 -42 22 5 25 10 19 38 -10 49 -19 50 -48 4z" />
                            <path d="M2766 1935 c-7 -20 -9 -18 22 -34 27 -14 29 -1 4 29 -17 21 -19 22 -26 5z" />
                            <path d="M1542 1928 c-16 -16 -15 -48 1 -48 16 0 47 32 47 48 0 16 -33 15 -48 0z" />
                            <path d="M2195 1920 c-17 -19 -15 -50 4 -50 15 0 40 41 34 56 -7 19 -17 18 -38 -6z" />
                            <path d="M1192 1805 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z" />
                            <path d="M1701 1144 c2 -71 0 -98 -8 -97 -6 2 -23 -11 -37 -28 -34 -41 -34 -90 2 -160 21 -42 39 -61 81 -86 110 -66 288 -80 399 -33 40 17 68 42 124 107 91 106 91 105 78 150 -14 54 -27 72 -39 54 -6 -9 -13 17 -21 78 -12 88 -14 92 -30 74 -10 -10 -35 -75 -55 -146 -21 -70 -40 -125 -42 -123 -2 2 10 55 26 117 17 62 29 115 26 117 -2 2 -53 -26 -113 -62 -61 -36 -116 -66 -123 -66 -8 0 -68 43 -134 96 -66 53 -124 98 -128 101 -5 3 -8 -39 -6 -93z m174 -156 c9 -27 15 -51 13 -54 -5 -4 -68 130 -68 144 1 17 38 -45 55 -90z" />
                            <path d="M2368 1124 c27 -12 32 -20 32 -47 0 -17 5 -39 10 -47 8 -12 10 -9 10 13 0 32 4 33 32 7 26 -24 41 -25 58 -5 20 24 -10 49 -86 74 -72 24 -106 27 -56 5z" />
                            <path d="M1542 1049 c-47 -35 -55 -53 -16 -39 33 13 33 13 26 -12 -3 -14 -2 -19 6 -14 7 4 12 16 12 27 0 11 5 29 11 41 17 31 6 30 -39 -3z" />
                        </g>
                    </svg>
                </a>
                <div id="upper-menu" class="row align-items-center order-2">
                    <div class="col order-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="col-auto ms-auto me-3 order-1">
                        <div class="nav-item dropdown">
                            <!-- Current theme -->
                            <button class="nav-link dropdown-toggle d-flex align-items-center button-theme" data-bs-target="#themeCollapse" aria-controls="themeCollapse" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme">
                                <img src="/images/dark-mode.svg" id="current-theme-icon" alt="Dark mode" />
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center" aria-pressed="true" onclick="switchTheme('light')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 16 16">
                                            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                        </svg>
                                        <span class="ms-2">Light</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item d-flex align-items-center" aria-pressed="false" onclick="switchTheme('dark')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                                            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                                        </svg>
                                        <span class="ms-2">Dark</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse border-top  order-1" id="navbarCollapse" bis_skin_checked="1">
                    <ul class="d-flex align-items-center navbar-nav mb-2 mb-md-0 col-xl-8 col-lg-10 col-md-6">
                        <li class="search my-3 my-md-0 ms-lg-3 col-lg-6 col-12" role="search">
                            <form role="search" action="/search" method="get" id="animeSearchForm">
                                <input id="animeSearch" type="search" name="keyword" class="form-control" placeholder="Search anime..." autocomplete="off" aria-label="Search" />
                            </form>
                            <script>
                                $(document).ready(function() {
                                    // Add submit event handler to the form
                                    $('#animeSearchForm').submit(function(event) {
                                        // Check if the input field has a value
                                        if ($('#animeSearch').val().trim() === '') {
                                            // If no value, prevent the form from submitting
                                            event.preventDefault();
                                        }
                                        // If there's a value, the form will be submitted as usual
                                    });
                                });
                            </script>
                            <!-- Search Results Container -->
                            <form action="/anime" method="post">
                                <div id="searchResultsContainer" class="position-absolute mt-1 col-11 col-md-6 col-lg-4 mb-3 mb-lg-0" style="z-index: 100;">
                                    <!-- Placeholder divs for search results -->
                                    <button type="submit" class="card flex-row w-100 p-0 text-start" id="result1" name="animeID" value="" style="display: none;">
                                        <img src="" class="card-img-top img-search-preview" alt="" />
                                        <div class="p-0 mt-2 mx-3 text-truncate">
                                            <h5 class="card-title bold-text text-truncate"></h5>
                                            <p class="info-text light-text"></p>
                                        </div>
                                    </button>
                                    <button type="submit" class="card flex-row w-100 p-0 text-start" id="result2" name="animeID" value="" style="display: none;">
                                        <img src="" class="card-img-top img-search-preview" alt="" />
                                        <div class="p-0 mt-2 mx-3 text-truncate">
                                            <h5 class="card-title bold-text text-truncate"></h5>
                                            <p class="info-text light-text"></p>
                                        </div>
                                    </button>
                                    <button type="submit" class="card flex-row w-100 p-0 text-start" id="result3" name="animeID" value="" style="display: none;">
                                        <img src="" class="card-img-top img-search-preview" alt="" />
                                        <div class="p-0 mt-2 mx-3 text-truncate">
                                            <h5 class="card-title bold-text text-truncate"></h5>
                                            <p class="info-text light-text"></p>
                                        </div>
                                    </button>
                                </div>
                            </form>
                            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
                            <script>
                                const searchInput = document.getElementById('animeSearch');
                                const searchResultsContainer = document.getElementById('searchResultsContainer');

                                let searchTimeout;

                                // Function to close search results container
                                const closeSearchResults = () => {
                                    searchResultsContainer.style.display = 'none';
                                };

                                // Function to open search results container
                                const openSearchResults = () => {
                                    if (searchInput.value.trim() !== '') {
                                        searchResultsContainer.style.display = 'block';
                                    }
                                };

                                // Click event listener to close search results when clicking outside
                                document.addEventListener('click', function(event) {
                                    if (!searchResultsContainer.contains(event.target) && event.target !== searchInput) {
                                        closeSearchResults();
                                    }
                                });

                                // Focus event listener to open search results when focusing on search input
                                searchInput.addEventListener('focus', openSearchResults);

                                searchInput.addEventListener('input', function(event) {
                                    clearTimeout(searchTimeout);

                                    const searchTerm = event.target.value.trim();

                                    if (!searchTerm) {
                                        // Hide all search result divs
                                        document.getElementById('result1').style.display = 'none';
                                        document.getElementById('result2').style.display = 'none';
                                        document.getElementById('result3').style.display = 'none';
                                        return;
                                    }

                                    openSearchResults();

                                    searchTimeout = setTimeout(async function() {
                                        try {
                                            const response = await axios.get(`https://api.jikan.moe/v4/anime?q=${searchTerm}`);
                                            const searchResults = response.data.data.slice(0, 3); // Get top 3 results

                                            // Update search result divs with data
                                            searchResults.forEach((result, index) => {
                                                const resultDiv = document.getElementById(`result${index + 1}`);
                                                resultDiv.value = result.mal_id;
                                                resultDiv.style.display = 'flex'; // Make the div visible
                                                resultDiv.querySelector('.img-search-preview').src = result.images.jpg.large_image_url;
                                                resultDiv.querySelector('.img-search-preview').alt = findAnimeTitle(result);
                                                resultDiv.querySelector('.card-title').innerText = findAnimeTitle(result);
                                                resultDiv.querySelector('.info-text').innerText = result.rating + " | " + "Score: " + result.score;
                                            });
                                        } catch (error) {
                                            console.error(error);
                                        }
                                    }, 1000); // Wait for 1 second after typing stops
                                });

                                const findAnimeTitle = (data) => {
                                    const englishTitle = data.titles.find(title => title.type === "English");
                                    const defaultTitle = data.titles.find(title => title.type === "Default");

                                    if (englishTitle) {
                                        return englishTitle.title;
                                    } else if (defaultTitle) {
                                        return defaultTitle.title;
                                    } else {
                                        return "Title not found";
                                    }
                                };
                            </script>
                        </li>
                        <li class="nav-item ">
                            <form action="/random" method="post">
                                <button type="submit" class="nav-link mt-2 px-2">Random</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>