/* Light Mode CSS */
html[data-bs-theme="light"] {
    body {
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    footer {
        background-color: #212529;
        color: white;
    }

    .border-bottom {
        border-color: #c0c1c5!important;
    }

    .border-top {
        border-color: #c0c1c5!important;
    }

    .form-control {
        border-color: #c0c1c5!important;
    }

    .custom-svg {
        fill: #212529;
    }

    .carousel .carousel-indicators [data-bs-target] {
        background-color: #212529;
    }
}

/* Normal (400) weight */
body {
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

/* Light (300) weight */
.light-text {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

/* Bold (700) weight */
.bold-text {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
}

.img-background {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.img-widget {
    width: 175px;
    height: 250px;
    object-fit: cover;
}

.img-widget-bigger {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
    background-color: white;
}

.custom-btn {
    width: 75px;
    height: 250px;
    color: transparent;
}

.custom-btn:hover {
    background-color: rgba(39, 39, 39, 0.5); /* Change to grey when hovering */
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
}