/* Light Mode CSS */
html[data-bs-theme="light"] {
    body {
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    footer {
        background-color: #212529;
        color: white;
    }

    .border-bottom {
        border-color: #c0c1c5!important;
    }

    .border-top {
        border-color: #c0c1c5!important;
    }

    .form-control {
        border-color: #c0c1c5!important;
    }

    .custom-svg {
        fill: #212529;
    }

    .carousel .carousel-indicators [data-bs-target] {
        background-color: #212529;
    }
}

@media (max-width: 575px) {
    #carousel {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    #carousel img {
        border-radius: 10px !important;
    }

    #top-anime {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    .top-arrow-right {
        transform: translateX(53%) !important;
    }
}

@media (max-width: 991px) {
    .carousel .carousel-indicators {
        justify-content: end !important;
    }
}

@media (max-width: 767px) {
    .carousel form {
        text-align: center;
        padding-bottom: 1rem;
    }
}

/* Normal (400) weight */
body {
    font-family: 'Signika', sans-serif;
    font-weight: 500;
}

/* Light (300) weight */
.light-text {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}

/* Bold (700) weight */
.bold-text {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
}

/* Imagine in the carousel */
.img-background {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/* Image in Top Anime Slider */
.img-widget {
    width: 175px;
    height: 250px;
    object-fit: cover;
}

/* Image in the search preview */
.img-search-preview {
    width: 85px!important;
    height: 85px!important;
    min-width: 85px;
    object-fit: cover;
}

/* Image in anime.ejs */
.img-widget-bigger {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.text-hover:hover {
    color: rgb(175, 175, 175);
}

.carousel .carousel-indicators [data-bs-target] {
    background-color: white;
}

.top-btn {
    width: 75px;
    height: 251px;
    color: transparent;
}

.top-btn:hover {
    background-color: rgba(39, 39, 39, 0.5); /* Change to grey when hovering */
}

.carousel-btn {
    min-width: 150px;
    color: transparent;
}

.carousel-btn:hover {
    background-color: rgba(39, 39, 39, 0.5); /* Change to grey when hovering */
}

.prev-arrow {
    transform: translateX(-60%);
}

.next-arrow {
    transform: translateX(60%);
}

.carousel-btn svg {
    position: absolute; /* Position the SVG absolutely */
}

.prev-arrow svg {
    left: 70%;
}

.next-arrow svg {
    right: 70%;
}

.truncate-text-carousel {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-text-search {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines as needed */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.slider-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 25%;
    top: 75%;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    border-radius: 0 0 10px 10px;
}